---
import BaseLayout from '../layouts/BaseLayout.astro'
import PostList from '../components/PostList.astro'
import Container from '../components/Container.astro'
import Navbar from '../components/Navbar.astro'
import ButtonLink from '../components/ButtonLink.astro'

let title = 'Example Blog'
let description = 'The perfect starter for your perfect blog.'

let allPosts = await Astro.glob('./posts/**/*.md')
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf(),
)
const featured = allPosts
  .filter((post) => post.frontmatter.featured)
  .slice(0, 5)
---

<BaseLayout {title} {description}>
  <Navbar />
  <main>
    <Container className="space-y-12">
      <header class="py-6 md:py-12">
        <h2 class="text-4xl md:text-6xl lg:text-7xl mb-6 md:mb-8">
          <strong>Hi there!</strong>
          <span class="text-gray-700"
            >I'm passionate about developing web applications and meticulously
            crafting user interfaces.</span
          >
        </h2>
        <ButtonLink href="/about" bleedX>
          <span
            >More about me
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              class="inline-block ml-2"
            >
              <path
                class="stroke-brand-500"
                d="M3.3335 7.99967H12.6668M12.6668 7.99967L8.00016 3.33301M12.6668 7.99967L8.00016 12.6663"
                stroke-width="1.3333"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </span>
        </ButtonLink>
      </header>
      <section aria-label="Blog post list" class="space-y-12">
        <PostList posts={featured} title="Featured" />
        <PostList posts={allPosts} title="All posts" />
      </section>
    </Container>
  </main>
</BaseLayout>
