---
import { format } from "date-fns";
export interface Props {
  post: any;
}

const { post } = Astro.props as Props;
---

<li class="flex flex-col md:flex-row justify-between items-baseline">
  <a href={post.url} class="text-black dark:text-white font-medium text-lg">
    <span class="title">{post.frontmatter.title}</span>
  </a>
  <time datetime={post.frontmatter.publishDate}
    >{format(new Date(post.frontmatter.publishDate), "MMM Y")}
  </time>
</li>
